.dropdownBtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  min-width: max-content;
  margin-left: -95px;
  padding: 0.5rem;
  margin-left: -141px;
  margin-top: -38px;
}

.dropdown-content > button:nth-child(1) {
  margin-right: 0.5rem;
}

.show {
  display: block;
}
