:root {
  --primary: #3f51b5;
  --dark: #282c34;
}

p {
  margin: 0;
}

input,
select {
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 0.55rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: auto;
  margin: 0;
  border-radius: 0;
  padding: 0;
  margin-left: 0.25rem;
}

body {
  text-align: center;
  background-color: var(--dark);
  min-height: 100vh;
  color: white;
  max-width: 100vw;
}

.App {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

.prefix-icon {
  margin-right: 5px;
}

#root {
  overflow-y: hidden;
}

button {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: var(--primary);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button.icon {
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
