.tabs {
  margin: 10px 0;
  background-color: var(--dark);
  display: flex;
}

.link-style {
  cursor: pointer;
  flex: 0.33;
  padding: 10px 20px;
  background: var(--dark);
  display: inline-block;
  color: lightgrey;
  text-decoration: none;
  font-weight: normal;
}

.active {
  color: white;
  border-bottom: 2px solid var(--primary);
  font-weight: bold;
}
