td,
th {
  text-align: left;
  padding: 8px;
  border-bottom: 3px solid var(--dark);
}

th {
  color: lightgray;
  position: sticky;
  top: 0px;
  background-color: var(--dark);
  z-index: 10;
}

td {
  background-color: #353439;
}

.table-container {
  overflow-x: hidden;
  height: 65vh;
  padding: 5px;
  margin-bottom: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}
